[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-xdist = "*"
pytest-docstyle = "*"
pytest-pep8 = "*"
pytest-mypy = "*"
pytest-cov = "*"
coverage = "*"
ipython = "*"
mock = "*"
pycodestyle = "*"
pydocstyle = "*"
python-coveralls = "*"

[packages]
alabaster = "*"
buzio = "*"
certifi = "*"
chardet = "*"
colorama = "*"
commonmark = "*"
configparser = "*"
contextlib2 = "*"
decorator = "*"
docopt = "*"
docutils = "*"
enum34 = "*"
funcsigs = "*"
idna = "*"
imagesize = "*"
ipdb = "*"
ipdbplugin = "*"
pathlib2 = "*"
pbr = "*"
pexpect = "*"
pickleshare = "*"
ptyprocess = "*"
pytz = "*"
raven = "*"
recommonmark = "*"
requests = "*"
scandir = "*"
simplegeneric = "*"
six = "*"
snowballstemmer = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-websupport = "*"
traitlets = "*"
typing = "*"
urllib3 = "*"
wcwidth = "*"
Babel = "*"
"backports.shutil_get_terminal_size" = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
prompt_toolkit = "*"
Pygments = "*"
PyYAML = "*"
Sphinx = "*"
Unidecode = "*"
click = "*"
importlib = "*"

